/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* HEADER STYLE */
.container-nav, .white-text{
    background-color: #FF6900;
    padding: 10px;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row-nav{
    justify-content: space-around;
}

.logo{
    flex-basis: 100px;
}


/* MAIN */
.row-main{
    margin: 40px;
    justify-content: center;
    gap: 10px;
}

.col{
    flex-basis: calc(100% / 4)
}



/* DEBUG STYLE */
.row-main .col{
    background-color: blueviolet;
    padding: 40px;
}